[Unit]
Description=Sashframe Google Drive Photo Sync Timer
Wants=network-online.target
After=network-online.target

[Timer]
OnBootSec=1m
OnUnitActiveSec=5m
Persistent=true
Unit=home-calendar-photo-sync.service

[Install]
WantedBy=timers.target
