[Unit]
Description=Sashframe Auto-Updater Timer
Wants=network-online.target
After=network-online.target

[Timer]
OnBootSec=2m
OnUnitActiveSec=5m
Persistent=true
Unit=sashframe-updater.service

[Install]
WantedBy=timers.target
